<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			COLONNE 1
		</section>
		<section class="col">
			COLONNE 3
		</section>
		<section class="col">
			COLONNE 3
		</section>
	</div>
</footer>
